{% extends 'base.twig' %}

{% block body %}
    <a href="{{ site.url }}" rel="home">{{ site.name }}</a>
    <nav aria-label="Main navigation" role="navigation">
        {% include "partial/menu.twig" with {'menu': menu.get_items} only %}
    </nav>
    <main role="main">
        {% block main %}{% endblock %}
    </main>
    <footer></footer>
{% endblock %}