{% extends "layout.twig" %}

{% block main %}
    <article class="single">
        <h1 class="single__title">{{ post.title }}</h1>
        <div class="single__body">{{ post.content }}</div>
    </article>
{% endblock %}
